.nav {
  margin-bottom: .5em;
}

div.path {
  margin-bottom: .5em;
}

.size, .time, .operation {
  font-variant-caps: small-caps;
  padding-left: .5em;
}

a {
  text-decoration: none;
  color: blue;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
  color: red;
}
