{% extends "share/base.html" %}
{% load static %}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}

<div class="nav">
文件类表 |
<a href="{% url 'share:shares' %}">共享列表</a>
</div>

<div class="path">
  {% for parent in parents %}
    {% if forloop.last %}
    <span>/ {{ parent.name }}</span>
    {% else %}
    <span>/ <a href="{% url 'share:list_dir' parent.pk %}">{{ parent.name }}</a></span>
    {% endif %}
  {% endfor %}
</div>

<hr>

<table>
  {% for dir in dirs %}
  <tr>
    <td><img src="{% static 'share/icons/dir.png' %}"></td>
    <td><a href="{% url 'share:list_dir' dir.pk %}">{{ dir.name }}</a></td>
    <td class="size">{{ dir.object.size }}</td>
    <td class="time">{{ dir.object.time|date:"Y-m-d H:m" }}</td>
    <td class="operation">
      <a href="{% url 'share:detail' dir.pk %}">detail</a> |
      <a href="{% url 'share:edit' dir.pk %}">edit</a> |
      <a href="{% url 'share:share' dir.pk %}">share</a> |
      <a href="{% url 'share:delete' dir.pk %}">delete</a>
    </td>
  </tr>
  {% endfor %}

  {% for file in files %}
  <tr>
    <td><img src="{% static 'share/icons' %}/{{ file.mimetype }}.png"></td>
    <td><a href="{% url 'share:detail' file.pk %}">{{ file.name }}</a></td>
    <td class="size">{{ file.object.size }}</td>
    <td class="time">{{ file.object.time|date:"Y-m-d H:m" }}</td>
    <td class="operation">
      <a href="{% url 'share:detail' file.pk %}">detail</a> |
      <a href="{% url 'share:edit' file.pk %}">edit</a> |
      <a href="{% url 'share:share' file.pk %}">share</a> |
      <a href="{% url 'share:delete' file.pk %}">delete</a>
    </td>
  </tr>
  {% endfor %}
</table>

{% endblock %}
