{% extends "share/base.html" %}

{% block title %}
{% endblock %}

{% block content %}
<p>share: {{ file.name }}</p>
<p>note: if you share a directory, all files under the directory tree will be
shared.</p>
<form method="post">
  {% csrf_token %}
  {{ form.errors }}
  <table>
    <tr>
      <td><label for="id_code">Code:</label></td>
      <td>{{ form.code }}</td>
      <td><label>{{ form.anonymous }}anonymous</label></td>
    </tr>
    <tr>
      <td><label for="id_expire">Expire:</label></td>
      <td>{{ form.expire }}</td>
      <td><label>{{ form.never_expire }}never expire</label></td>
    </tr>
  </table>
  <input type="submit" value="Share">
  <input type="button" value="Cancel" onclick="window.history.back();">
</form>
{% endblock %}
